.storeHeading{
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 40px;
}
.storeImg{
    width: 250px;
    height: 250px;
}
.storeimgTextDiv{
    /* background-color: grey; */
    background-color: white;
    box-shadow: grey 5px 8px 8px 5px;
    height: 490px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    display: grid;
    
}
.storeimgTextDiv:hover{
    border: 2px solid black;
    cursor: pointer;
    
}
.storeProductsDiv{
   
    display: grid;
  grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin: 30px;
    gap: 8rem; 
  justify-items: center; 
  margin: 20px auto;
}
.cartBtn{
    /* width: 300px; */
    width: 300px;
    text-decoration: none;
    height: 50px;
    margin-top: 30px;
    background-color: black;
    color: white;
    align-self: center;
    align-items: center;
    display: grid;
    justify-content: center;
    border-radius: 10px;
    border: none;
}
.cartBtn:hover{
    width: 300px;
    height: 50px;
    background-color: white;
    color: black;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
}
.emptyCartText{
    display: flex;
    justify-content: center;
    align-self: center;
    color: brown;
    font-size: 30px;
    align-items: center;
    margin-top: 50px;
}